<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * 3IT ~ Quality of Service * * * * * * * * * -->
<!-- * * * * * * * Prueba Práctica de Desarrollo UI * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="main">

    <nav width=100%>
      <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 -40 355 355" width="50">
        <g class="primary-background">
            <path d="M93,272A19,19,0,0,1,77.44,242.1L127.75,170,40.37,150.43a19,19,0,0,1-1.75-36.63L150.27,77.3l-136.59-40A19,19,0,0,1,24.37.77L219.86,58.06a19,19,0,0,1,.56,36.32L116.18,128.46l47.55,10.67a19,19,0,0,1,11.44,29.44l-66.55,95.31A19,19,0,0,1,93,272Z" fill="#FFF"/>
        </g>
      </svg>
      
      <div class="user-info">
        <p>Alberto Hofmann</p>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="25px" height="25px"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </div>
    </nav>

    <section>
      <h3>Indicadores</h3>
      <h2>Diciembre 2019</h2>
    </section>

  
  
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * made by 🦄 in 3IT * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
